:root{
	--corp-green-light: #18a055;
	--corp-green: #2f943f;
	--corp-green-dark: #2c633d;
	--corp-black-transparency: rgba(0, 0, 0, 0.5);
	--corp-white-transparency: rgba(255, 255, 255, 0.4);
	--corp-grey: #111;
	--corp-black-dark: #000;
	--corp-white: #fff;
}




html{
	  scroll-behavior: smooth;
	  overflow-x: hidden;
  margin: 0;
  padding: 0;
	}

    body {
      margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: lightgray;
	background-color: var(--corp-black-dark);
    }
	
	
/*	html, body {
  overflow-x: hidden;
  max-width: 100%;
}*/
	
	
	
	
header{
	display: flex;
	position: sticky;
	top: 0;
	right: 0;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
	height: 70px;
	background-color: var(--corp-black-transparency);
	backdrop-filter: blur(8px);
	z-index:999;
	transition: all 0.5s ease;
}


section{
	scroll-margin-top: 70px; /* Oder Höhe deines Headers */
}

.navigation{
	margin: auto;
}

.vorher-left{
	display: flex;
	align-items: center;
	transition: opacity 0.5s ease;
}

.vorher-left img{
	width: 40px;
	margin: 0 15px;
}

.logo{
		padding-left: 20px;
}

header a{
	text-decoration: none;
	color: var(--corp-white);
	font-weight: 700;
	transition: 0.3s;
	margin: 0 8px;
}

header a:hover{
    text-shadow: 0 0 30px var(--corp-black-dark);
	color: var(--corp-green);
}
	
	.vorher-box-icons{
	display:flex;
	gap: 20px;
	transition: opacity 0.5s ease;
	padding-right: 20px;
}

.vorher-box-icons p{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	width: 30px;
	height: 30px;
	border: 2px solid var(--corp-green);
	border-radius: 50%;
	cursor: pointer;
	transition: 0.5s;
}

.vorher-box-icons p:hover{
	background-color: var(--corp-green);
	color: lightgray;
	box-shadow: 0 0 5px var(--corp-green);
}

	.vorher-container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vorher-gradient{
	color: var(--corp-green);
}

.vorher-text-vor-bild{
	color: lightgray;
	text-shadow: 0px 0 50px var(--corp-black-dark);
}

@keyframes animate-gradient{
	to{
		background-position: 200%;
	}
}

.vorher-skills-video-box{
  position: absolute;
  bottom: 0;
  right: -50%;
  transform: translateX(-10%);
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.vorher-skills-video{
    width: auto;
  height: 90vh;
  margin-bottom: 70px; /* Abstand vom unteren Rand, falls gewünscht */
	padding-right: 0;
	padding-left: 0;
}

/* Burger-Icon */
.vorher-menu-icon{
    font-size: 28px;
    cursor: pointer;
    display: none;
	color: var(--corp-white);
	padding-right: 20px;
}

.vorher-sidebar{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 70%;
    width: 0%;
    background-color: var(--corp-green);
    z-index: 999;
    box-shadow: 0 0 25px var(--corp-white-transparency);
    backdrop-filter: blur(10px);
    opacity: 0;
    border-bottom-left-radius: 100%;
}

.vorher-close-icon{
    font-size: 50px;
    color: lightgray;
    padding-left: 10px;
    cursor: pointer;
}

.vorher-sidebar ul{
    padding-left: 20px;
}

.vorher-sidebar ul li{
    list-style: none;
    margin-bottom: 30px;
}

.vorher-sidebar ul li a{
    text-decoration: none;
    color: lightgray;
    font-size: 30px;
    font-weight: 900;
    text-shadow:0 0 15px var(--corp-green);
}

.vorher-social-sidebar{
    padding-left: 20px;
    margin-top: 60px;
    text-wrap: nowrap;
}

.vorher-social-sidebar a{
    font-size: 35px;
    padding: 5px 5px;
    cursor: pointer;
    transition: 0.5s;
}

/* Sidebar Open ANimation */
.vorher-sidebar.open-sidebar{
    animation: openSideBarAnimation 1.5s forwards;
}

@keyframes openSideBarAnimation {
    to{
        width: 80%;
        opacity: 1;
        bottom: 0;
        border-radius: 0;
    }
}

/* Sidebar close ANimation */

.vorher-sidebar.close-sidebar{
    animation: closeSideBarAnimation 1.5s forwards;
}

@keyframes closeSideBarAnimation {
    from{
        width: 80%;
        opacity: 1;
        bottom: 0;
        border-radius: 0;
    }
    to{
        width: 0;
        opacity: 0;
        bottom: 70%;
        border-bottom-left-radius: 50%;
    }
}

.vorher-blackhole-box{
	position: relative;
	width: 100vw;
	heigth: 100vh;
	overflow: hidden;
	height: 100vh;
	z-index: -1;
}

.forest-video{
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.vorher-blackhole-box video{
	height: 100vh;
	margin-top: 0%;
	height: calc(100vh - 70px); /* falls der Header 70px hoch ist */
}

.vorher-hero{
	position: relative;
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: space-between;
}

.vorher-hero-info{
	position: absolute;
	left: 5%;
}

.vorher-hero-info .vorher-hero-info-title{
	color: rgba(255, 255, 255, .75);
	padding: 5px 15px;
	border: 1px solid var(--corp-white-transparency);
	width: fit-content;
	background-color: var(--corp-black-transparency);
	border-radius: 50px;
}

.vorher-hero-info h1{
	font-size: 60px;
	max-width: 600px;
	font-weight: 700;
	line-height: 70px;
	margin-top: 40px;
	margin-bottom:30px;
}

.vorher-hero-info p{
	max-width: 550px;
	line-height: 25px;
	margin-bottom: 40px;
	font-size: 20px;
}

.vorher-hero-info button{
	color: white;
	padding: 15px 35px;
	border-radius: 10px;
	border: 1px solid var(--corp-green);
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: 0 0 5px var(--corp-green);
	cursor: pointer;
	transition: 0.3s;
}

.vorher-hero-info button:hover{
	box-shadow: 0 0 15px var(--corp-green);
	background-color: var(--corp-black-dark);
}

.vorher-info-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: 100px;
}

.vorher-scroll-down{
    height: 50px;
    width: 30px;
    border: 1px solid var(--corp-white-transparency);
    position: absolute;
    left: 50%;
    bottom: 100px;
    border-radius: 50px;
    cursor: pointer;
  }

.vorher-scroll-down::before{
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 1px solid var(--corp-white-transparency);
    border-top: transparent;
    border-left: transparent;
    animation: vorher-scroll-down 3s ease-in-out infinite;
}

.vorher-scroll-down::before{
    top: 30%;
}

@keyframes vorher-scroll-down{
	0%{
	  /* top:20%; */
	  opacity: 0;
	}
	30%{
	  opacity: 1;
	}
	60%{
	  opacity: 1;
	}
	100%{
	  top: 80%;
	  opacity: 0;
	}
}










    a {
      color: var(--corp-green);
      text-decoration: none;
    }

    /*.section-projects {
      padding: 2rem 0rem;
	  width: 1300px;
      margin: 0 auto;
	  position: relative;
    }*/
	
	.section-projects {
	  max-width: 1300px;
	  margin: auto;
	  padding: 80px 40px;
	  width: 100%;
	}

h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      border-bottom: 2px solid var(--corp-green);
      display: inline-block;
    }







	
	.project-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.project-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.project-card img {
  height: auto; /* Verhindert Verzerrung */  
  width: 100%;
	background-color: var(--corp-grey);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 1rem;
}

.contact-button {
  background-color: var(--corp-black-transparency);
  color: var(--corp-green);
  border: 1px;
  padding: 0.7rem;
  border-radius: 10px;
  cursor: pointer;
  border-color: var(--corp-green);
  border-style: solid;
}
	
/* CONTACT SECTION */
.vorher-contact-section{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    position: relative;
}

.vorher-contact-section h1{
    position: absolute;
    top: 10%;
    left: 40%;
}

    .badges {
      margin: 0.5rem 0;
    }

    .badge {
      background-color: var(--corp-green);
      color: var(--corp-black-dark);
      padding: 0.3rem 0.6rem;
      margin: 0 0.3rem 0.3rem 0;
      display: inline-block;
      border-radius: 4px;
      font-size: 0.8rem;
	  border-style: solid;
	  border-width: 1px;
	  border-color: var(--corp-green);
    }
	
	.link, .lightbox-button {
      background-color: var(--corp-black-transparency);
      color: var(--corp-green);
	  border: var(--corp-green);
	  border-style: solid;
	  border-width: 1px;
      padding: 0.3rem 0.6rem;
      margin: 0 0.3rem 0.3rem 0;
      display: inline-block;
      border-radius: 4px;
      font-size: 0.8rem;
	  
  backdrop-filter: blur(8px);
    }
	
	.link:hover, .lightbox-button:hover {
		background-color: var(--corp-green);
		color:var(--corp-black-dark);
	}

    .contact-form {
		display: flex;
  flex-direction: column;    /* alles untereinander */
  align-items: center;       /* horizontal zentrieren */
  gap: 15px;                 /* gleichmäßiger Abstand */
  width: 100%;
  max-width: 500px;          /* maximale Breite auch am Desktop */
  margin: 0 auto;            /* zentriert im Container */
	}
	
	/* Jede Form-Gruppe nimmt die volle Breite ein */
.contact-form .form-group {
  width: 100%;
}

/* Labels optional etwas absetzen */
.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

    .contact-form input,
    .contact-form textarea {
      border: none;
      border-radius: 4px;
	  width: 100%;               /* gleiche Breite */
  max-width: 100%;           /* nie überlaufen */
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;    /* Padding zählt mit */
    }
	
	/* Textarea nur in der Höhe skalierbar */
.contact-form textarea {
  resize: vertical;
  min-height: 120px;
  max-height: 300px;         /* optional */
}

    footer {
      text-align: center;
      padding: 2rem;
      font-size: 0.9rem;
      color: var(--corp-white);
    }
	
	.lightbox {
	  position: fixed;
	  top: 0; left: 0;
	  width: 100vw; height: 100vh;
	  background: rgba(0, 0, 0, 0.95);
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  z-index: 1000;
	}

	.lightbox.hidden {
	  display: none;
	}

	.lightbox-content {
	  position: relative;
	  max-width: 90%;
	  max-height: 90%;
	  color: var(--corp-white);
	  text-align: left;
	}

	.lightbox-content img {
	  width: 100%;
	  height: auto;
	  border-radius: 4px;
	  margin-bottom: 1rem;
	}

	.badges {
	  margin-bottom: 1rem;
	}

	.badge {
	  background-color: var(--corp-green);
	  color: var(--corp-black-dark);
	  padding: 0.3rem 0.6rem;
	  margin: 0.2rem;
	  border-radius: 4px;
	  font-size: 0.8rem;
	  display: inline-block;
	}

	/*.description {
	  font-size: 0.9rem;
	  color: #ccc;
	}*/

	.close {
	  position: absolute;
	  top: 10px; right: 20px;
	  font-size: 2rem;
	  cursor: pointer;
	}

	/*.nav-arrow {
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  font-size: 2rem;
	  cursor: pointer;
	  color: #ccc;
	}

	.nav-arrow.left {
	  left: -40px;
	}

	.nav-arrow.right {
	  right: -40px;
	}*/


.scroll-container-wrapper {
  position: relative;
}

.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  color: var(--corp-white);
  border: none;
  padding: 10px;
  cursor: pointer;
  display: none; /* Initial unsichtbar */
  transition: opacity 0.3s ease;
}

.scroll-arrow.left {
  left: 0;
}

.scroll-arrow.right {
  right: 0;
}




	/*.image-projects {
	  background-color: var(--corp-grey);
	  width: 100%;
	  height: 200px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  font-size: 1.2rem;
	  border-radius: 8px;
	  margin-bottom: 1rem;
	}*/

.video-projects {
	  background-color: var(--corp-grey);
	  width: 100%;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  font-size: 1.2rem;
	  border-radius: 8px;
	  margin-bottom: 1rem;
	  
	}






/*Test*/
/* Hide the images by default */
.mySlides1, mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6, .mySlides7 {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* exakt zentrieren */
  width: auto;
  padding: 20px 10px;
  color: var(--corp-white);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 10; /* sicherstellen, dass sie über den Projekten liegen */
}

.prev.visible, .next.visible {
  opacity: 1;
  pointer-events: auto;
}

.prev{
	left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@keyframes move{
  0%{
    left:400px;
  }
  100%{
    left:90px;
  }
}





.section-background{
	background-color: var(--corp-grey);
	  border-radius: 8px;
	  position: relative; /* wichtig: damit sich die Pfeile an diesem Container orientieren */
}


.fullpage {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: var(--corp-black-dark);
}

/* Lightbox Overlay */
.lightbox {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.lightbox.visible {
  opacity: 1;
  pointer-events: auto;
}


.lightbox.hidden {
  display: none;
}

.lightbox-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
}

.lightbox img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.lightbox-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  background: transparent;
  border: none;
  color:var(--corp-white);
  cursor: pointer;
}

.lightbox-info-top-left {
  position: absolute;
  left: 20px;
  color: var(--corp-white);
  font-size: 18px;
  font-weight: bold;
}

.lightbox-info-bottom-left {
  position: absolute;
  bottom: 0px;
  left: 20px;
  color: var(--corp-white);
  max-width: 60%;
}

.lightbox-info-bottom-left .tags span {
  background-color: var(--corp-green);
  color: var(--corp-black-dark);
  padding: 0.3rem 0.6rem;
  margin-right: 5px;
  border-radius: 4px;
  font-size: 0.8rem;
  border-style: solid;
  border-width: 1px;
  border-color: var(--corp-green);
}




.lightbox-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  background: transparent;
  border: none;
  color: var(--corp-white);
  cursor: pointer;
  z-index: 2;
  padding: 10px;
}

.lightbox-arrow.left {
  left: 10px;
}
.lightbox-arrow.right {
  right: 10px;
}

.lightbox-media-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.lightbox-media-container img,
.lightbox-media-container video {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 12px;
}




.skills-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 20px;
}

.skills-category {
  flex: 1 1 250px;
  max-width: 300px;
}

.skills-category h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.icon-grid,
.method-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.icon img {
  width: 48px;
  height: 48px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.icon:hover img {
  transform: scale(1.2);
  opacity: 0.9;
}

.method {
  background-color: var(--corp-white);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.85rem;
  white-space: nowrap;
  color: var(--corp-black-dark);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.method:hover {
	transform: scale(1.1);
}


/*formular*/
.contact-section {
  background: var(--corp-grey);
  padding: 2rem 2rem;
  text-align: center;
}

.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
  width: 100%;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--corp-grey);
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  outline: none;
}

.contact-btn {
  background: var(--corp-green);
  color: var(--corp-black-dark);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  margin: auto;
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

.contact-btn:hover {
  transform: translateY(2px);
}

.form-success-message {
  margin-top: 1rem;
  color: var(--corp-green);
  font-weight: bold;
  font-size: 1rem;
  transition: opacity 0.4s ease;
}











@media (max-width: 1200px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-projects {
    padding: 60px 20px;
  }
}

@media (max-width: 900px) {
  .project-grid {
    grid-template-columns: 1fr;
  }

  .vorher-hero-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .vorher-hero h1 {
    font-size: 32px;
  }

  .vorher-box-icons {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }
}

/* ---------- MOBILE ---------- */
@media (max-width: 600px) {
  header {
	flex-wrap: wrap; /* damit Logo + Burger oben bleiben */
	padding: 0px;
  }
  
  h2{
  margin-left: 40px;
  }

.contact-section h2{
	margin-left: 0px;
}

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .section-projects {
    padding: 40px 0px;
	margin: 0;
  }

  .project-card {
  }

  .lightbox-content {
    flex-direction: column;
  }

  .lightbox-description {
    padding: 20px 10px;
  }

  .vorher-hero h1 {
    font-size: 26px;
  }

  .form-success-message {
    font-size: 14px;
  }
  
  .lightbox-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.project-grid {
	grid-template-columns: 1fr;
	padding: 0;
}

.navigation {
    position: absolute;
    top: 60px; /* direkt unter Header */
    left: 0;
    width: 100%;
    background: #111;
    flex-direction: column;
    align-items: flex-start;   /* Links bündig statt zentriert */
    gap: 0;
    max-height: 0;       /* versteckt */
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

.navigation a {
    display: block;      /* jeder Link eigene Zeile */
    width: 100%;         /* volle Breite */
    padding: 12px 0;     /* Abstand oben/unten */
    border-bottom: 1px solid rgba(255,255,255,0.1); /* Trennlinie (optional) */
	padding-left: 14px;
  }
  
  .navigation.active {
    max-height: 500px; /* sichtbar (passt für 10 Links) */
  }

  .vorher-menu-icon {
    display: block; /* Burger nur mobil sichtbar */
  }

  .vorher-box-icons {
    display: none; /* optional: Icons ausblenden mobil */
  }
  
  .vorher-skills-video{
	width: 40vw;
	height: auto;
	margin-bottom: 70px; /* Abstand vom unteren Rand, falls gewünscht */
	}
	
	.vorher-skills-video-box{
	  right: 10%;
	  transform: translateX(-10%);
	  width: auto;
	  height: auto;
	}
	
	.section-background
	{
		padding: 0px 40px;
		border-radius: 0;
	}
	
	.contact-form
	{
		max-width: inherit;
	}
	
	.contact-section {
padding: 0 40px;
}

/* Next & previous buttons */
.prev, .next {
  padding: 30px 15px;
}


}



@media (max-width: 800px) {
  .lightbox-content {
    flex-direction: column;
  }
}